.demo-list-item {
  /*width: 100%;*/
}

a.delete-button {
  color: grey;
}

#add-button {
  float: right;
}

.content {
  height: calc(100vh - 164px); /*height of header + footer is 164px (on my machine).*/
}

#home {
  text-decoration: none;
  color:inherit;
}
